*{
  font-family: 'PT Sans', sans-serif !important;
}

html,body {
  height:100%;
  margin:0;
}

.content {
  height:100%;
  min-height:100%;/*for mozilla*/
  display: flex;
  justify-content: center;
}

html>body .content {
  height:auto;
}

#one {
  background: url(../assets/img/herobg.jpg) center center no-repeat scroll #520E24;
}

.main-page{
  .cnt{
    align-self: center;
  }
  .hero{
    align-self: center;
    background: none;
    border-radius: 0px;
    .nav{
      li{
        font-size:16pt;
        &.active{
          font-size: 33pt;
        }
        &.active, &:hover{
          background: none;
        }

        a{
          color: white;
          padding: 0;
          &:hover{
            background: none;
            color: white;
          }
        }
      }
    }
    .main-text{
      color: white;
      .heading{
        font-size: 33pt;
      }
      .sub-heading{
        font-size: 12pt;
      }
      button{
        margin-top: 120px;
        &.btn-default{
          background: none;
          border: 1px solid white;
          box-shadow: none;
          text-shadow: none;
          border-radius: 0px;
          color: #f4a18e;
          padding: 20px 40px;
          outline: none;
        }
      }
    }
    .social{
      color: white;
    }
  }
}