.main-page{
  .hero{
    background: url('../assets/img/herobg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 160px 160px;
    border-radius: 0px;
    .nav{
      li{
        font-size:16pt;
        &.active{
          font-size: 33pt;
        }
        &.active, &:hover{
          background: none;
        }

        a{
          color: white;
          padding: 0;
          &:hover{
            background: none;
            color: white;
          }
        }
      }
    }
    .main-text{
      color: white;
      .heading{
        font-size: 33pt;
      }
      .sub-heading{
        font-size: 12pt;
      }
      button{
        margin-top: 120px;
        &.btn-default{
          background: none;
          border: 1px solid white;
          box-shadow: none;
          text-shadow: none;
          border-radius: 0px;
          color: #f4a18e;
          padding: 20px 40px;
          outline: none;
        }
      }
    }
    .social{

    }
  }
}