!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Home | New Providence
    %link{:href => "./vendor/css/vendor.css", :rel => "stylesheet"}/
    %link{:href => "./css/app.css", :rel => "stylesheet"}/
    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    .container-fluid.homepage
      %nav.navbar
        .container
          .col-xs-4
            %ul.list-inline.nav.navbar-nav
              %li
                %a{:href => "#"} -
              %li
                %a{:href => "#"} Tour
              %li
                %a{:href => "#"} Features
              %li
                %a{:href => "#"}
                  Pricing
                  %i.fa.fa-info
          .col-xs-5.text-center.navbar-brand
            %a{:href => "#"}
              %img{:alt => "", :src => "./assets/img/logo.png"}/
          .col-xs-3
            %ul.list-inline.nav.navbar-nav.navbar-right
              %li
                %a{:href => "#"} Help
              %li
                %a{:href => "#"} Contacts
              %li
                %a.btn.btn-primary{:href => "#"} Get App
        / /.container-fluid
      %section.row.hero
        .col-xs-6.col-xs-offset-3.text-center
          %h1 What happens tomorrow?
          %h4
            The sight of the tumblers restored Bob Sawyer to a degree of equanimity which
            he had not possessed since his interview with his landlady.
            His face brightened up, and he began to feel quite convivial.
          %p
            %button.btn.btn-default > Watch Video
          .col-xs-12.text-center.header-iphone
            %img{:alt => "", :src => "./assets/img/header_iphone.png"}/
    #circle
    %script{:src => "./vendor/js/vendor.js"}
    %script{:src => "js/app.js"}